html,body{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
    ::-webkit-scrollbar {
    width: 10px; /* ширина для вертикального скролла */
    height: 10px; /* высота для горизонтального скролла */


}
    ::-webkit-scrollbar-thumb {
    background-color: rgba(150,150,150,0.79);


}
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(150,150,150,0.9);
}
.container {
    border-radius: 90px;
    background-color: rgba(150,150,150,0.5);
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    overflow: hidden;
            display: inline-block;
    justify-content: center;
    align-items: center;
}
    .container_main {
    border-radius: 90px;
    background-color: rgba(150,150,150,0.5);
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    overflow: hidden;
            display: inline-block;
    justify-content: center;
    align-items: center;
}
.container_but {
    margin: 0 auto;
    width: 100%;
    height: 100%;
     display: block;
}
.box {

  background: url(../img/1.png);
    height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
    .box_main {
width: 100%;
  background: url(../img/1.png);
    height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
        margin-left: 13%;
}
}

.prof {
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
    float: right;
}
.reg {
    background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  line-height: 2;
     backdrop-filter: blur(3px);
    border-radius: 15px;
    border: none;
    width: 30%;
  top: 20%;
  margin: 0 auto;

  position: relative;
    text-align: center;
}
p1 {
    color: rgba(2, 2, 2, 0.5);
        font-size: 13px;
   margin: 0;
font-family: sans-serif;
}
p{
    font-size: 13px;
   margin: 0;
font-family: sans-serif;
}
h1, label {
margin: 0;
font-family: sans-serif;
}
h2, h3 {
    margin: 0;
font-family: sans-serif;
}
.reglog {
    font-size: 15px;
margin: 0;
font-family: sans-serif;
    transition: 0.3s;
    color:rgba(100, 100, 150, 0.5);
}
.reglog:hover {
    color: rgba(100, 100, 170, 0.7);
    font-size: 15px;
margin: 0;
font-family: sans-serif;
    transition: 0.3s;
}

.btn-one {
    padding-top: 2px;


    font-family: sans-serif;
    text-decoration:none;
    color: black;
    border: none;
    border-radius: 5px;
    width: 40%;
    height: 20%;
    cursor: pointer;
    background: rgba(120, 120, 120, 0.5);
    transition: 0.3s;
    margin: 5px auto;

     display: block;
}
.btn-one:hover {
    background: rgba(80, 80, 80, 0.5);
}
.btn-two {
    padding: 7px;


    font-family: sans-serif;
    text-decoration:none;
    color: black;
    border: none;
    border-radius: 5px;
width: 95%;

    cursor: pointer;

    transition: 0.3s;
    margin: 5px auto;

     display: inline-block;
}
.btn-two:hover {
    background: rgba(80, 80, 80, 0.5);
}
input[type = "submit"] {
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    width: 40%;
    height: 35px;
    cursor: pointer;
    background: rgba(100, 150, 100, 0.5);
    transition: 0.3s;
}

input[type = "submit"]:hover {
color: black;
    background: rgba(100, 170, 100, 0.7);
    transition: 0.3s;
    //you can add more styles to be applied on hover
}
input[id = "com"] {
    border: 2px solid rgba(120, 120, 120, 0.2);
  border-radius: 5px;
  outline: none;
  background: white;

    margin-left: 1px;

    width: 100%;
    height: 40px;
    cursor: pointer;

    transition: 0.3s;
}
input[id= 'delete'] {
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    width: 40%;
    height: 35px;
    cursor: pointer;
    background: rgba(150, 100, 100, 0.5);
    transition: 0.3s;
}
input[id= 'delete']:hover {
color: black;
    background: rgba(170, 100, 100, 0.7);
    transition: 0.3s;
    //you can add more styles to be applied on hover
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: rgba(100, 100, 150, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: rgba(100, 100, 170, 0.7);
}
.main-content {
    vertical-align: top;
}
.content {
 border: none;
    width: 80%;
    height: 80%;
    position: fixed;
    overflow: auto;
    margin-top: 25px;
    margin-left: 15px;
}
.content_vid {
    border: none;
    width: 70%;
    height: 55%;
    position: fixed;
    overflow: auto;
    margin-top: 15px;
    margin-left: 50px;
}
.slider {
    border: none;
    width: 13%;
    height: 100%;
    position: fixed;
    overflow: auto;

}
.header_channel {
    margin-left: 50px;
    width: 87.6%;

    height: 135px;
    background-color: rgba(120, 120, 120, 0.5);
    border-radius: 15px;
    border: none;

}

.comments {
    margin-top: 5px;
    height: 70px;
    width: 100%;
    overflow: auto;
}
select [name= 'sort_date'] {
width: 20%;
  border: none;
  background: rgba(100, 100, 100, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  transition: background .2s ease-in-out;
}
select [name="soft_likes"] {
width: 20%;
  border: none;
  background: rgba(100, 100, 100, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  transition: background .2s ease-in-out;
}


select {
width: 40%;
  border: none;
  background: rgba(100, 100, 100, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

option[value= 'music'] {
      margin-right: 20px;
  border: none;
  background: rgba(100, 100, 100, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  transition: background .2s ease-in-out;
}
option[value= 'gaming'] {
      margin-right: 20px;
  border: none;
  background: rgba(100, 100, 100, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  transition: background .2s ease-in-out;
}
option[value= 'education'] {
      margin-right: 20px;
  border: none;
  background: rgba(100, 100, 100, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  transition: background .2s ease-in-out;
}