{% extends 'mainpage.html' %}
<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мой канал</title>
</head>
<body>
{% block content %}

    <div class="header_channel" style="">


<div class="container" style="position: fixed; margin-left: -50px; margin-top: 17px; ">

    {% if avatar %}
        <img src="{{ url_for('static', filename='uploads/' ~ avatar) }}" alt="Аватар" style="width:100px; height:100px;object-fit: cover;
    position: static;">
    {% else %}
        <img src="/static/img/net_foto.jpg" alt="Аватар" style="width:100px; height:100px;object-fit: cover;position: static;">
    {% endif %}

     </div>
<img src="/static/img/fong1.jpg" alt="Аватар" style="width:100%; height:100%;object-fit: cover; border-radius: 5px">
    </div>

    <div style="display: flex">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes" style="margin: 0; padding: 0;">
        {% for message in messages %}
            <p style="color: rgba(100,100,100,0.95); margin: 0; margin-top: 5px; margin-left: 50px; text-align: center">{{ message }}</p>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    </div>
<h2 style="margin-left: 50px">{{ username }}</h2>  
<p style="margin-left: 50px; color: rgba(100, 100, 150, 0.8)">Подписчиков: {{ subscribers_count }}</p>
<p style="margin-left: 50px; color: rgba(100, 100, 150, 0.8)">Видео: {{ videos_count }}</p>
    <div style="margin-left: 50px;">
    {% if is_subscribed %}
        <form action="{{ url_for('unsubscribe', user_id=user_id) }}" method="POST">
            <button type="submit" style="width: 10%" class="btn btn-two">Отписаться</button>
        </form>
    {% else %}
        <form action="{{ url_for('subscribe', user_id=user_id) }}" method="POST">
            <button type="submit" style="width: 10%" class="btn btn-two">Подписаться</button>
        </form>
    {% endif %}
</div>
    <h3 style="margin-left: 50px;">Видео пользователя</h3>
<div class="content_vid" style="display: flex; flex-wrap: wrap; height: 54.5%">
    {% for video in videos %}
        <div style="width: 330px; padding-right: 10px">
            <video width="320" height="180" style="border-radius: 5px" controls>
                <source src="{{ url_for('static', filename='uploads/videos/' ~ video[1]) }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>Название: {{ video[2] }}</p>
            <p>Описание: {{ video[3] }}</p>

            
            {% if user_id == logged_in_userid %}
                <a class="btn btn-two" style="width: 100%" href="{{ url_for('edit_video', video_id=video[0]) }}">Редактировать</a>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %}
</body>
</html>
