{% extends 'mainpage.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

{% block content %}
<h3 style="margin-left: 50px">Все видео</h3>

<div class="content_vid" style="display: flex; flex-wrap: wrap; margin-left: 50px; height: 76%;">

{% for video in videos %}
<div style="margin: 5px; width: 24%; height: 66%">
    <video width="320" height="240" controls>
        <source src="{{ url_for('static', filename='uploads/videos/' ~ video.filename) }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div style="margin-top: 10px;">
        <p>Название: {{ video.title }}</p>
        <p>Описание: {{ video.description }}</p>
        <p>Загрузил: {{ video.username }}</p>

        <div>
            <p>Лайки {{ video.likes | default(0) }} | Дизлайки: {{ video.dislikes | default(0) }}</p>
        </div>

        <form action="{{ url_for('like_video', video_id=video.id) }}" method="post" style="display: inline;">
            <button class="gla" type="submit">👍 Лайк</button>
        </form>
        <form action="{{ url_for('dislike_video', video_id=video.id) }}" method="post" style="display: inline;">
            <button class="gla" type="submit">👎 Дизлайк</button>
        </form>

        <form action="{{ url_for('comment_video', video_id=video.id) }}" method="post" style="margin-top: 10px;">
            <input style="padding-right: 55%" id="com" name="comment" required size="30">
            <button style="right: 0px;" class="main" type="submit">Оставить комментарий</button>
        </form>
<div class="comments">
        <div style="margin-top: 10px;">
            {% for comment in video.comments %}
                <p><strong>{{ comment[0] }}:</strong> {{ comment[1] }} <em>({{ comment[2] }})</em></p>
            {% endfor %}
        </div>
</div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
