<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="/static/js/style.js" defer></script>
<html>
<head>
    <title>Редактирование</title>
</head>
<body>
<div class="box">
 <div class="reg" style="top: 20%; position: relative; margin-left: auto; margin-right: auto">
    <h1>Редактировать профиль</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
            <li style="color: rgba(100,130,100,0.85);">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <form method="POST" enctype="multipart/form-data">
        <div>
            <label for="username">Имя пользователя:</label><br>
            <input style="border: none; border-radius: 5px; width: 70%; height: 40px; color: black; background: rgba(100, 100, 100, 0.3); outline: none; padding-left: 20px; padding-right: 20px;" type="text" id="username" name="username" value="{{ username }}" required>
        </div>
        <div>
            <div class="container" style="margin-top: 5px">
            {% if avatar %}
                <img src="{{ url_for('static', filename='uploads/' ~ avatar) }}" alt="Аватар" style="width:100px; height:100px; object-fit: cover; position: static;">
            {% else %}
                <div style="width:100px; height:100px; border: 1px solid gray;"></div>
            {% endif %}
        </div><br>
            <label for="avatar">Выберите аватарку:</label>
            <input type="file" id="avatar" name="avatar" accept="image/*">
        </div>

        <!-- Поля для изменения пароля -->
        <div>
    <label for="old_password">Старый пароль:</label><br>
    <input style="border: none; border-radius: 5px; width: 70%; height: 40px; color: black; background: rgba(100, 100, 100, 0.3); outline: none; padding-left: 20px; padding-right: 20px;" type="password" id="old_password" name="old_password">
</div>
<div>
    <label for="new_password">Новый пароль:</label><br>
    <input style="border: none; border-radius: 5px; width: 70%; height: 40px; color: black; background: rgba(100, 100, 100, 0.3); outline: none; padding-left: 20px; padding-right: 20px;" type="password" id="new_password" name="new_password">
</div>
<div>
    <label for="confirm_password">Подтвердите новый пароль:</label><br>
    <input style="border: none; border-radius: 5px; width: 70%; height: 40px; color: black; background: rgba(100, 100, 100, 0.3); outline: none; padding-left: 20px; padding-right: 20px;" type="password" id="confirm_password" name="confirm_password">
</div>
        <button class="btn btn-one" style="font-family: sans-serif; font-size: 16px;" type="submit">Сохранить изменения</button>
    </form>
    <a class="btn btn-one" href="{{ url_for('profile') }}">Назад</a>
 </div>
</div>
</body>
</html>