<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="/static/js/style.js" defer></script>
<html>
<head>
    <title>Лицензия</title>
</head>
<body>
<div class="box">
 <div class="reg" style="top: 20%; position: relative; margin-left: auto; margin-right: auto">
    <h1>Лицензия</h1>
     <img src="/static/img/25.png" style="width:20%; height:20%;object-fit: cover;position: static;">
<p>Настоящая лицензия не выдана: негосударственному, незарегистрированному товарному знаку Thetl Inc.</p>
     <p>МО, г. Люберцы, 140011</p>
     <p>Право создания и ведения видеохостинга РусЮ остается за настоящим владельцем незарегистрированного товарного знака Thetl Inc.</p>
     <p>В стадии разработки налогом не облагается.</p>
      <p>Основной гос. рег. номер (ИП)отсутствует </p>
     <p>Срок действия лицензии по _бессрочно 20__г.</p>

     <a class="btn btn-one" href="{{ url_for('glav') }}">Назад</a>
 </div>
</div>
</body>
</html>