<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="/static/js/style.js" defer></script>
<html>
<head>
    <title>Трансляции</title>
</head>
<body>
<div class="box">
 <div class="reg" style="top: 20%; position: relative; margin-left: auto; margin-right: auto">
      <img src="/static/img/25.png" style="width:20%; height:20%;object-fit: cover;position: static;">
    <h1>На данный момент трансляции недоступны</h1>
<p>Настоящая лицензия НЕ выдана: негосударственному, незарегистрированному товарному знаку Thetl Inc.</p>


     <a class="btn btn-one" href="{{ url_for('glav') }}">Назад</a>
 </div>
</div>
</body>
</html>